; Config::Simple 4.59
; Sun Aug 21 23:17:46 2016

[MAIN]
; These strings will be replaced by the real one during
; installation
[Main]
; Internal config version counter (for updates of the config file)
ConfigVersion=1

; Instances represent the number of configured gateways
Instances=1

; Instances are numbered [Instance1], [Instance2],...
[Instance1]
Enabled=True
Name=9600

